# This file is used to ignore files that should not be committed
# --------------------------------------------------------------

examples/quick/enterprise/virtualkeyboard/virtualkeyboard/virtualkeyboard
!src/virtualkeyboard/3rdparty/hunspell/hunspell.pro
src/virtualkeyboard/3rdparty/hunspell/*
src/virtualkeyboard/3rdparty/hunspell/doc/html

*.pro.user
*.a
*.so
*.moc
moc_*.cpp
qrc_*.cpp
*.o
*.obj
*.rcc
Makefile*
*.html
*~
